


@model MVC_kutuphane_otomasyonu_entities.Model.Kullanicilar
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg">
        <div class="ibox">
            <div class="ibox-head">
                @*//<h2 class="login-title">Kullanici Duzenleme Islemleri</h2>*@
            </div>
            <div class="ibox-body">
                @using (Html.BeginForm("Duzenle", "Kullanicilar", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(false, "Duzenle", new { @class = "text-danger" })

                    <h2 class="login-title">Kullanici Duzenleme Islemleri</h2>
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.AdiSoyadi, new { @class = "form-control", placeholder = "Adi Soyadi" })
                        @Html.ValidationMessageFor(x => x.AdiSoyadi, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.Telefon, new { @class = "form-control", placeholder = "Telefon" })
                        @Html.ValidationMessageFor(x => x.Telefon, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.TextAreaFor(x => x.Adres, new { @class = "form-control", placeholder = "Adres" })
                        @Html.ValidationMessageFor(x => x.Adres, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "E-mail" })
                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control", placeholder = "Kullanici Adi" })
                        @Html.ValidationMessageFor(x => x.KullaniciAdi, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control", placeholder = "Sifre" })
                        @Html.ValidationMessageFor(x => x.Sifre, "", new { @class = "text-danger" })
                    </div>
                    @*<div class="form-group">
                        *Html.DisplayNameFor(x => x.KayitTarihi)
                        @Html.TextBoxFor(x => x.KayitTarihi, new { @class = "form-control", type = "datetime-local",Value=Model.KayitTarihi.ToString("yyyy-MM-dd HH:mm") })
                        @Html.ValidationMessageFor(x => x.KayitTarihi, "", new { @class = "text-danger" })
                    </div>*@

                    <div class="form-group">
                        <button class="btn btn-primary " type="submit">Kaydet</button>
                    </div>

                }

            </div>

        </div>

    </div>



</div>

