@model List<MVC_kutuphane_otomasyonu_entities.Model.KullaniciRolleri> /* BURADA HATA OABILIR.*/
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg">
        <div class="ibox">
            <div class="ibox-head">
                Kullanici Rolleri Listesi
            </div>
            <div class=" ibox-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Kullanici</th>
                            <th>Rol</th>
                          
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>
                                    @Html.DisplayFor(x => item.Id)
                                </th>
                                <td> @Html.DisplayFor(x => item.Id)</td>
                                <td> @Html.DisplayFor(x => item.KullaniciId)</td>
                                <td> @Html.DisplayFor(x => item.Roller.Rol)</td>
                                <td>
                                    @Html.ActionLink("Edit", "Duzenle", "Roller", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                                    @Html.ActionLink("Detay", "Detay", "Roller", new { id = item.Id }, new { @class = "btn btn-info btn-sm" }) |
                                    @Html.ActionLink("Sil", "Sil", "Roller", new { id = item.Id }, new { @class = "btn btn-danger btn-sm delete", onclick = "return confirm('kayit silinsin mi ?')" })
                                   
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
                <div class="form-group">
                    @Html.ActionLink("Yeni", null, "Ekle", "Roller", new { @class = "btn btn-succes" })
                </div>

            </div>

        </div>

    </div>

</div>



