@model MVC_kutuphane_otomasyonu_entities.Model.Uyeler

@{
    ViewBag.Title = "Duzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">

    <div class="col-lg">
        <div class="ibox">
            <div class="ibox ibox-head">
                Uye Duzenleme Sayfasi
            </div>

            <div class="ibox-body">
                @using (Html.BeginForm("Duzenle", "Uyeler", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <img src="@Model.ResimYolu" width="100" height="100" />
                    </div>

                    <div class="form-group">
                        @Html.Label("Yeni Resim Yükle")
                        <input type="file" name="ResimYolu" class="form-control" />
                    </div>


                    <div class="form-group">
                        @Html.DisplayNameFor(x => x.AdiSoyadi)
                        @Html.TextBoxFor(x => x.AdiSoyadi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.AdiSoyadi, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.DisplayNameFor(x => x.Telefon)
                        @Html.TextBoxFor(x => x.Telefon, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Telefon, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.DisplayNameFor(x => x.Adres)
                        @Html.TextBoxFor(x => x.Adres, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Adres, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.DisplayNameFor(x => x.Email)
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                    </div>



                    <div class="form-group">
                        @Html.DisplayNameFor(x => x.OkulKitapSayisi)
                        @Html.TextBoxFor(x => x.OkulKitapSayisi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.OkulKitapSayisi, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Ekle</button>

                    </div>

                }

            </div>
        </div>
    </div>
</div>

